:host {
  width: 100%;
}

[container] {
  display: flex;
  flex-direction: column;
}

[question]{
  font-weight: bold;
}

[question-label] {
  color: silver;
}

[question-icon] {
  margin-right: 5px;
}
