[link-container] {
  display: flex;
  flex-direction: column;
  width: 100%;
}

[frame] {
  width: 100%;
  height: 448.875px;
  border-radius: 4px;
}

[youtube-icon] {
  margin-right: 5px;
  margin-bottom: 2px;
  color: silver;
}

[label] {
  color: silver;
}

[link-input] {
  width: 100%;
}
