:host {
  padding: 10px 0;
  display: block;
}

[section] {
  margin-bottom: 5px;
}

[section]:last-child {
  margin-bottom: 0;
}

[section-image] {
  width: 10px;
  height: 10px;
  margin-right: 15px;
}
