<div *ngIf="isAuthorized" flex-column>
  <app-storage-header
    [breadcrumb]="breadcrumb"
    [syncing]="syncing"
    (backClick)="backClick()"
    (syncClick)="syncData()"
    (onSearch)="search($event)"></app-storage-header>

  <div *ngIf="!isDataLoading" flex-column>
    <div *ngIf="isDataPresent" flex-column="">
      <app-folders [folders]="data.folders" (folderClicked)="folderSelected($event)"></app-folders>
      <app-documents [files]="data.files" (fileClicked)="fileSelected($event)"></app-documents>
    </div>
    <app-no-files *ngIf="!isDataPresent"></app-no-files>
  </div>

  <div *ngIf="isDataLoading" data-loading-container>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
  </div>

</div>

<div *ngIf="!isAuthorized">
  <app-storage-auth [storage]="storage" (onAuthorize)="getData()"></app-storage-auth>
</div>

