<div flex-column>
  <span label>Filename</span>
  <input [(ngModel)]="this.file.name" file-name-input primary-input type="text">


  <div *ngIf="isDataLoaded && !isAuthorized" flex-column>
    <nz-divider nzText="Login to save"></nz-divider>

    <div auth-buttons>
      <button (click)="loginWithGoogle()" primary-button login-button google-login-button>
        <img login-button-icon src="./assets/images/google-white.svg" alt="">
        <span>Google</span>
      </button>
      <button (click)="loginWithFacebook()" primary-button login-button facebook-login-button>
        <img login-button-icon src="./assets/images/facebook-white.svg" alt="">
        <span>Facebook</span>
      </button>
      <button primary-button login-button twitter-login-button>
        <img login-button-icon src="./assets/images/twitter-white.svg" alt="">
        <span>Twitter</span>
      </button>
    </div>
  </div>



  <!--

    <span label>Location</span>
  <nz-select nzPlaceHolder="Select language" [(ngModel)]="storage" [nzCustomTemplate]="storageSelectTemplate">
    <nz-option language-option nzCustomContent nzLabel="Filps" [nzValue]="Storage.Filps">
      <span>Filps</span>
    </nz-option>
    <nz-option language-option nzCustomContent nzLabel="Google Drive" [nzValue]="Storage.GoogleDrive">
      <img storage-option-image src="assets/images/google-drive.svg">
      <span>Google Drive</span>
    </nz-option>
  </nz-select>
  <ng-template language-option #storageSelectTemplate let-selected>
    <img *ngIf="selected.nzValue != 4" storage-option-image src='{{ "assets/images/" + selected.nzValue + ".svg" }}'>
    <span>{{ selected.nzLabel }}</span>
  </ng-template>

  <div storage flex-column *ngIf="this.storage !== Storage.Filps">
    <div flex  no-select>
      <i (click)="back()" back-icon *ngIf="isBackButtonVisible()" nz-icon icon-button nzType="arrow-left" nzTheme="outline" [nzTooltipTitle]="'back' | translate" nzTooltipPlacement="bottom" nz-tooltip [nzTooltipMouseEnterDelay]="1"></i>
      <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let folder of breadcrumb">
          <span>{{folder.name}}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div folders-list>
      <button secondary-button folder flex>
        <i folder-icon nz-icon nzType="folder" nzTheme="outline"></i>
        <span>Folder name</span>
      </button>
      <button secondary-button folder flex>
        <i folder-icon nz-icon nzType="folder" nzTheme="outline"></i>
        <span>Projects</span>
      </button>
      <button secondary-button folder flex>
        <i folder-icon nz-icon nzType="folder" nzTheme="outline"></i>
        <span>Study</span>
      </button>
    </div>
  </div>

  -->

  <div *ngIf="isDataLoaded && isAuthorized" actions>
    <button (click)="cancelSelect()" secondary-button cancel-edit-button button-danger>
      <i button-icon nz-icon nzType="close" nzTheme="outline" ></i>
      <span>{{ 'cancel' | translate}}</span>
    </button>
    <button (click)="selected()" primary-button>
      <i button-icon nz-icon nzType="check" nzTheme="outline" ></i>
      <span>{{ 'save' | translate}}</span>
    </button>
  </div>
</div>
