[label] {
  margin-bottom: 3px;
  color: silver;
}

[file-name-input] {
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 5  px;
}


[storage-label] {
  justify-content: center;
}

[storage-icon] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

[actions] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

[actions] button {
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

[storage] {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  height: 300px;
}

[back-icon] {
  margin-right: 15px;
}

[breadcrumb] {
  margin: 5px 0 8px 0;
}

[folders-list] {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

[folder] {
  margin-bottom: 7px;
  padding: 5px 8px;
}

[folder] i {
  margin-right: 10px;
}

[storage-option-image]{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

[auth-buttons] {
  display: flex;
  flex-direction: column;
}


[login-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

[login-button] span {
  font-weight: bold;
  color: #ffffff;
}

[login-button-icon] {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

[google-login-button] {
  background-color: #dd4b39;
}

[google-login-button]:hover {
  background-color: darken(#dd4b39, 10) ;
}

[facebook-login-button] {
  background-color: #3b5998;
}

[facebook-login-button]:hover {
  background-color: darken(#3b5998, 10) ;
}


[twitter-login-button] {
  background-color: #03A9F4;
}

[twitter-login-button]:hover {
  background-color: darken(#03A9F4, 10) ;
}
