:host {
  width: 100%;
}

[container] {
  display: flex;
  flex-direction: column;
}

[question-header] {
  justify-content: space-between;
  height: 33px;
}

[question] {
  font-weight: bold;
}

[clear-selection-button] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

[container]:hover [clear-selection-button] {
  visibility: visible;
  opacity: 1;
}

[question-label],
[answers-label] {
  color: silver
}

[options] {
  display: flex;
  flex-direction: column;
}

[option-input] {
  width: 100%;
  margin-top: 5px;
}

[answers-editor] {
  display: flex;
  flex-direction: column;
  margin-top: 10px
}

[answers-editor-header] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[multiple-correct-toggle] {
  margin-right: 15px;
}

[multiple-correct-toggle] span {
  margin-left: 10px;
  margin-top: 1px;
}

[answer-option-editor] {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
}

[remove-option-button] {
  margin-left: 5px;
}


